@import "reset.css";
@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.navbar-brand, h1, h2, h3, h4 {
	font-family: 'Jeju Gothic';;
}
h5{
	font-family: 'Jeju Gothic';
	font-size: 18px;
}
body{
	height: 100%;
	font-family: 'Nanum Gothic';
}
.abcRioButton {
	display: inline-block;
}
.h2, h2 {
    font-size: calc(1.325rem + .9vw);
}
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: none;}

input:invalid {
  border: 3px solid red;
}
