@import "reset.css";
@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.navbar-brand, h1, h2, h3, h4 {
	font-family: 'Jeju Gothic';;
}
h5{
	font-family: 'Jeju Gothic';
	font-size: 18px;
}
body{
	height: 100%;
	font-family: 'Nanum Gothic';
}
.abcRioButton {
	display: inline-block;
}
.h2, h2 {
    font-size: calc(1.325rem + .9vw);
}
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: none;}

input:invalid {
  border: 3px solid red;
}

.sights {
	border: 1px solid black; 
	border-collapse: collapse;
	width: 100%;
}
th, td {
	border: 1px solid black;
}

.navbar-brand{
	margin: 0;
}

.tripList{
	width:100%; 
	text-align: left; 
	border-radius: 20px; 
	border : 2px solid rgba(66, 133, 244, 0.5);;
	background: white;
}

.addTrip{
	width: 50px;
	height:50px;
	border-radius: 50%;
	background: black;
	font-size: 30px;
	text-align: center;
	line-height:25px;
	color: white;
	border: none;
}

.joinTrip{
	width:100%; 
	height: 45px;
	background: rgb(66, 133, 244);
	font-size: 25px;
	font-weight: bold;
}

.myPage{
	background-color:transparent;
	border: none;
	padding: 0;
}

.statisBack{
	margin: auto; 
	width: 90%;
	height: 30px; 
	background-color:#dedede;
}

.statis{
	width: 0%; 	/*기본값*/
	height: 30px;
	padding: 0; 
	text-align:center; 
	background-color: rgba(66, 133, 244, 0.5);
}

.myTrip{
	width: 95%;
	height: 70px;
	border-radius: 12px;
	display: block; 
	margin: auto;
	background:white;
	border: 2px solid rgba(66, 133, 244, 0.5);
	margin-bottom: 20px;
}

.myPageButton{
	display: inline; 
	float: left;
	font-weight: bold;
	font-size: 1.0em;
	margin-left: 10px;
}

.myPageButton2{
	display: inline; 
	float: right;
	font-weight: bold;
	font-size: 1.0em;
	margin-right: 10px;
}

.myPageText{
	margin-left: 10px;
	font-weight: bold;
	font-size: 1.0em;
	margin-bottom: 5px;
}

.myPageText2{
	margin-left: 10px;
	font-weight: bold;
	font-size: 1.0em;
	margin-bottom: 5px;
}

.makeTripButton{
	width:100%; 
	height: 45px;
	background: rgb(66, 133, 244);
	font-size: 25px;
	font-weight: bold;
}
.makeTripInput{
	text-align: center;
}
.makeTripInput input{
	padding: 0 1em; 
 	height: 38px;
 	width: 90%;
 	border-radius: 30px;
 	height:25px; 
 	font-size:15px;
}

.myTripList{
	width: 95%;
	margin: 0 auto;
}
.myTripList th{
	text-align: center;
}

.myTripButton{
	width: 100%; 
	background-color: rgba(0,0,0,0); 
	border: 0; 
	outline: 0; 
	color: rgb(66, 133, 244); 
	font-weight: bold;
	text-align: left;
	text-decoration-line: underline;
}

.tripInfo{
	 border-color: rgba(0,0,0,0.1); 
	 border-color: rgba(0,0,0,0.1); 
	 width:100%;
}
.tripInfo tr td{
	 border-color: rgba(0,0,0,0.1); 
}

.inputMBTI input{
	padding: 0 1em; 
 	height: 38px;
 	width: 90%;
 	border-radius: 30px;
 	height:25px; 
 	font-size:15px;
}

.Eval{
	width:100%; 
	height: 45px;
	background: rgb(66, 133, 244);
	font-size: 25px;
	font-weight: bold;
}

input[class="super-happy"]:hover + svg,
input[class="super-happy"]:checked + svg,
input[class="super-happy"]:focus + svg {
  fill: rgb(0, 109, 217);
}

input[class="happy"]:hover + svg,
input[class="happy"]:checked + svg,
input[class="happy"]:focus + svg {
  fill: rgb(0, 204, 79);
}

input[class="neutral"]:hover + svg,
input[class="neutral"]:checked + svg,
input[class="neutral"]:focus + svg {
  fill: rgb(232, 214, 0);
}

input[class="sad"]:hover + svg,
input[class="sad"]:checked + svg,
input[class="sad"]:focus + svg {
  fill: rgb(229, 132, 0);
}

input[class="super-sad"]:hover + svg,
input[class="super-sad"]:checked + svg,
input[class="super-sad"]:focus + svg {
  fill: rgb(239, 42, 16);
}

input[type=radio] {display: none; margin: 10px;}

.list {
  margin: 10px;  
}

.list__item {
  margin: 0 0 10px 10px;
}

.checkbox {
  margin: 0 5px 0 0 ;
}

.changeInterest{
	width:100%; 
	height: 45px;
	background: rgb(66, 133, 244);
	font-size: 25px;
	font-weight: bold;
}

.InterestCard{
	width: fit-content;
	border: 1px solid gray;
	border-radius: 10px;
	padding: 1rem 1rem;
	cursor: pointer;
	margin: 0.5rem 0.5rem;
}

.inputInterest{
	padding: 0 1em; 
 	height: 38px;
 	border-radius: 30px;
 	height:25px; 
 	font-size:15px;
 	font-family: sans-serif;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.wrap-vertical{
  padding: 20px;
  overflow: scroll;
  border: 1px solid #000;
   /* 가로 스크롤 */
  overflow: auto;
  white-space: nowrap;
}

.character-container .character-list {
  margin-top:20px;
  display:inline-block;
}

.form-element{
	display:inline-block;
	width:80px;
	height:50px;
	margin: 10px;
}

.form-element input {
  display:none;
}

.form-element label {
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  height:100%;
  cursor:pointer;
  border:2px solid #ddd;
  background:#fff;
  box-shadow:0px 5px 20px 2px rgba(0,0,0,0.1);
  text-align:center;
  transition:all 200ms ease-in-out;
  border-radius:20px;
}

.form-element .title {
  font-size:15px;
  color:#555;
  padding:5px 0px;
  transition:all 200ms ease-in-out;
}

.form-element input:checked + label .title {
  color:#0d0df1;
}
.form-element input:checked + label {
  border:2px solid #0d0df1;
}

.changeCharacter{
	width:100%; 
	height: 45px;
	background: rgb(66, 133, 244);
	font-size: 25px;
	font-weight: bold;
}
